:root {
    --sans-font: "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei",
    sans-serif;
    --serif-font: "Noto Serif", "Noto Serif TC", "Noto Sans TC", serif !important;
    --inline-code-font: monospace !important;
    --mono-font: "JetBrains Mono", monospace !important;

    --app-feedlist-width: 300px;

}